PORT=3002
DATABASE_URL=mongodb://localhost:27017/user-api
## Mailtrap configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

# JWT
JWT_SECRET=your_super_secret_key_change_this
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=your_refresh_secret_key_change_this
JWT_REFRESH_EXPIRES=7d

# OTP
OTP_EXPIRES_MINUTES=10